<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About</h1>
    <div>
        <img src="/images/terry.jpeg" alt="terry crews" width="150" height="200"/>
    </div>
<p>
        <h3>Info</h3>
        <b>Birthdate</b>: July 30, 1968<br>
        <b>Birthplace</b>: Flint, Michgan, U.S.<br>
        <b>Occupations</b>: Actor, television host, football player<br>
    </p> 

<p>
        Terry Alan Crews (born July 30, 1968) is an American actor, television host, artist, and former American football player. He played Julius Rock in the UPN/CW sitcom Everybody Hates Chris, which aired from 2005 to 2009, and portrayed Terry Jeffords in the Fox and NBC sitcom Brooklyn Nine-Nine (2013–2021). Crews starred in the BET reality series The Family Crews (2010–2011), and hosted the U.S. version of the game show Who Wants to Be a Millionaire from 2014 to 2015. He has appeared in films, including Friday After Next (2002), White Chicks (2004), Idiocracy (2006), Blended (2014), the Expendables series (2010–2014), and Rumble (2021). Crews began hosting America's Got Talent in 2019, following his involvement in the same role for the program's spin-off series America's Got Talent: The Champions.

Crews played as a defensive end and linebacker in the National Football League (NFL) for the Los Angeles Rams, San Diego Chargers, and Washington Redskins, as well as in the World League of American Football (WLAF) for the Rhein Fire and college football at Western Michigan University.

A public advocate for women's rights and activist against sexism, Crews has shared stories of the abuse his family endured at the hands of his violent father, and was also included among the group of people named as Time Person of the Year in 2017 for going public with stories of sexual assault during the Me Too movement.
</p>
<p>
    <h4>Early Life and Education</h4>
    Crews was born on July 30, 1968, in Flint, Michigan, the son of Patricia Ann (Simpson) and Terry Crews. The middle child of three, he grew up in a strict Christian household in Flint and was raised mainly by his mother, who was eighteen when he was born. His father was an alcoholic and abusive to his mother. Crews received a flute from his great aunt, and took lessons for eight years. He spent a summer at Interlochen Arts Academy and entered Western Michigan University in Kalamazoo on an art scholarship. After his freshman year, he tried out for the football team and earned a full athletic scholarship.
</p>
<br><br>
    <a href="/works">Works</a> |
    <a href="/home">Home</a>
  </body>
</html>