<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
<h1>Works</h1>
<p>After retiring from the NFL in 1997, Crews moved to Los Angeles to pursue an acting career. He had a long-standing ambition to work in the film industry, but up until then had no plans to pursue acting, and simply wanting to be involved in some way. A year earlier, he co-wrote and co-produced the independent feature film Young Boys Incorporated. A self-funded production filmed in Detroit with an anti-drug message, the film drew on his own observations, as well as those of his friends and family. Despite describing it as a "horrible" film, he credits the experience with getting him interested in the film industry.[14]


    Crews at the San Diego Comic-Con 2013
    In 1999, Crews auditioned for a role as a character athlete (known as Warriors) in the syndicated game show Battle Dome, which became his first acting part. He played T-Money for two seasons until its cancellation in 2001. The audition process and the opportunity to perform in front of an audience made him realize that he wanted to pursue acting as a career. However, he failed to land another acting job for the following two years.[15]
    
    Appearances in commercials for products such as Old Spice, films, and music videos soon followed.[14] His breakout role came in Friday After Next starring rapper-turned-actor Ice Cube, for whom Crews previously worked as on-set security.[16][17] Having never taken acting classes, instead he asked himself what the audience wanted, and he believes this ultimately brought him success. He now believes acting is what he was born to do and would not wish to have any other career, despite the physically demanding nature of the work.[14]
    
    Based on his performance in White Chicks (2004), Adam Sandler changed a role in The Longest Yard (2005) to give it to Crews, who auditioned for another role in the film.[14] His role as Julius Rock, the father on the UPN/CW sitcom on Everybody Hates Chris, brought Crews wider public recognition, and the series aired for four seasons from 2005 to 2009.[17] Since then, Crews has had main roles as husband and father Nick Kingston-Persons in the TBS sitcom Are We There Yet?, which aired for three seasons from 2010, and as NYPD Sergeant (and commencing in Season 7, Lieutenant) Terry Jeffords in the Fox/NBC ensemble sitcom Brooklyn Nine-Nine, which premiered in 2013.[18]
    
    
    Crews has predominantly portrayed comedic characters, sometimes playing off of his athletic physique.
    Crews has appeared mainly in comedic roles, such as President Camacho in Idiocracy, but he later found success in action roles beginning with his part as Hale Caesar in The Expendables series, which saw him make his first appearance in a film sequel. Although he has managed to sustain an athletic physique in his career as an actor, Crews has avoided being type-cast as a muscle-bound action hero and has attained critical success through exploiting the contrast of his elaborate character comedy with his physique, which extends to the point of even mocking the stereotype of the gym-obsessed bodybuilder. This contrast has also led to sustained work as part of various humorous Old Spice TV commercials.[16][19][20]
    
    He has lent his voice to animations such as American Dad! and Cloudy with a Chance of Meatballs 2. He found that he enjoyed the work and sought out more of it, finding satisfaction in how it carries his spirit into the animation.[17] From 2010 to 2011, Crews starred in his own reality series on BET, The Family Crews. It ran for two seasons. From 2014 to 2015, he hosted the syndicated game show Who Wants to Be a Millionaire. He has also been the American host of Netflix's Ultimate Beastmaster.
    
    For eight seasons he played Terry Jeffords on Brooklyn Nine-Nine. In June 2020, Crews stated in an interview with Access Daily that four planned episodes for Season 8 had been aborted following the George Floyd protests, as the murder of George Floyd prompted the producers to reassess the direction of the season's storyline.[21][22] The series was not renewed for a ninth season. In early 2021, Crews commented: "I'm sad it will end, but happy to have had the chance to be a part of something so special".[23]
    
    Crews cites the many similarities between acting and professional football, including the structure and expectations, as helping his transition between the two careers. He credits Reginald Hubbard with mentoring him in his early career in the film business.[14]
    
    In June 2017, he was cast in the science fiction comedy film Sorry to Bother You.[24] The film was released in theaters on July 6, 2018.[25] Also in 2018, he appeared as Bedlam in the superhero film Deadpool 2.[26] Crews made appearances in the music videos for "Pressure" and "Algorithm" by British rock band Muse.[27][28]
    
    Crews also starred in the video for Brittany Howard's 2019 song "Stay High" in which he lip-syncs the vocals</p>
    <br>
    <a href="/about">About</a> |
    <a href="/home">Home</a>
    </html>